/* Imports here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* Declare variables here */
:root {   
    --Primary: #011627;
    --Primary-stroke: #0F3E65;
    --Highlight: #20A4F3;
    --Pressed: #0E6EB8;
    --Background: #F6F7F8;
}
:accents {
    --Prescribing: #FF3366
    --Dispensing: #2EC4B6
    --Supporting: #FB9246
}

/* Reset CSS */
html { font-size: 14px; scroll-behavior: smooth; }
body {
    margin: 0;
    padding-top: 132px;
    box-sizing: border-box;
    background: var(--Background);
}

/* Typography */
a {
    text-decoration: none;
    color: var(--Background);
}
h1, p {
    margin: 0;
    color: var(--Primary);
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.85rem;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
}

/* UI */
button.primary, a.primary {
    color: var(--Background);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    font-family: "Roboto", Sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: var(--Primary);
    border: none;
    border-radius: 1rem;
    padding: 0.75rem 3.5rem;
    transition: all 0.3s ease;
}
button.primary:hover, a.primary:hover {
    background-color: var(--Highlight);
}
button.primary:active, a.primary:active {
    background-color: var(--Pressed);
}

/* Layout */
section {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.container {
    display: flex;
    width: 100%;
    max-width: 1600px;
}
div.container > * {
    flex: 1;
}